header {
    background-color: rgb(211,220,230);
    height: 150px;
    padding-right: 50px;
    padding-left: 130px;
}
.a {
    text-decoration: none; 
    color: gray;
}
/*Container*/
/*Nav*/
.containerp .nav-header {
    max-width: 90%;
    float: right;
    display: inline;
    bottom: 110px;
}
/*Logo*/
.containerp .nav-header .logo {
    max-width: 10%;
    display: block;
    position: relative;
    left: -135%;
    top: 60px;
}
/*Botão 1*/
.containerp .nav-header .botao1 {
    max-width: 100%;    
}
.containerp .nav-header .botao1 #estudante {
    color: white; 
    width: 150px;
    height: 50px;
    background-color: rgb(67, 67, 110);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.containerp .nav-header .botao1 #parceiro {
    width: 190px;
    background-color: transparent;
    border: none; 
    font-size: 16px;
    font-weight: 600;   
}
.containerp .nav-header .botao1 #duvidas {
    width: 160px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/*Bloco1*/
/*Tela texto*/
.bloco1 .text-principal{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-left: 20px;
}
.bloco1 .text-principal h1{
    width: 50%;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 21px;
}
.bloco1 .text-principal p{
    width: 32%;
    font-size: 20px;
    text-align: center;
    color: rgb(87, 86, 88); 
    margin-left: 110px;
}

/*Dowload*/
.bloco1 .dowload {
    display: flex;
    position: absolute;
    left: 12%;
    float: left;
    top: 85%;
}
/*Bloco2*/
/*Imagem*/
.bloco2 .imagem #imagem2 {
    display: flex;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    right: 0%;
    float: right;
    top: 29%;
}
/*Veja Mais*/
.bloco2 .vejamais {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkblue;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    position: relative;
    top: 190px;
    left: 625px;  
    font-size: 14px;
    font-weight: 600;
    color: darkblue;
}

/*Henrique*/
/*container*/
.container {
    margin-top: 24%;
}
/*titulo quem somos  */
.h11 {
    margin-bottom: 30px;
    color: rgb(63,85,102);
    font-size: larger;
}
/*3 paragrafos */
.p1 {
    margin-bottom: 30px;
    color: rgb(134,158,189);
    font-size: 16px;
}
/*para mover o bloco do primeiro texto */
.textos1 {
    margin-left: 80px;
    margin-top: 40px;
   
}
/*titulo equipe cash edu */
h4 {
    margin-top: 70px;
    padding-bottom: 20px;
    top: 40px;
    left: 100px;
    color: black;
    font-size: 15px;
    font-style: none;
}
/*caixa contendo os 3 paragrafos */
.grupo {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
/*texto das caixas   */
#bloco2 {
    padding-bottom: 14px;
    padding-top: 4px;
    color: rgb(64,89,117);  
}
/*titulo das caixas  */
#pbloco2 {
    color: #7694b7;
    padding-bottom: 15px;
}  
/*propriedas da borda */
.container .caixa .borda{
    width: 35%;
    height: 25%;
    display: flex;
    background-color: #ffffff;
    border:2px solid #7694b7;
    border-radius: 20px;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 5px;
    margin-left: 72px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
}
/*texto dentro da borda  */
.container .caixa .borda .texto {  
    flex-direction: column;
    padding-left: 45px;
}
/*img dentro da borda */
.container .caixa .borda .img {
    margin-top:  10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 12vw;
    border-radius: 20px;
    background-color: #fff9ee;
}
.h1beneficios {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: rgb(63,81,102);
    font-size: 50px;
}
.h2beneficios {
    text-align: center;
    font-weight: 10;
    color:rgb(63,81,102);
    font-size: 40px;
}
.beneficios{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 500px;
    bottom: 630px;
    text-align: center;
    color: rgb(66, 88, 114);
    font-weight: none;
    font-size: 17px;
    padding-left: 100px;
}
#foto1 {
    width: 100%;
    margin-bottom: 100px;
}